<div class="row" id="row_map">
  	<div class="col-lg-12">
      <div id="map"></div>	
    </div>
</div>
<div class="pokemons" id="pokemon-container">
      <% @pokemons.each do |pokemon| %>
          <div class="row pokemon-row">
            <div class="span10" id="rows_pokemon">
              <div class="row">
                <div class="span3" id="image"><img src="/images/pokemon_go.png" alt="Pokemon Go Image" height="100" width="200">
                  </div>
                  <div>
                    <ul>
                      <li class="pokemongymlist">Pokemon Gym Name: <%= pokemon[:name] %></li>
                      <li class="pokemongymlist">Address: <%= pokemon[:address] %></li>
                      <li class="pokemongymlist">Website: <%= pokemon[:website] %></li>
                    </ul>
                  </div>
                  <div class="buttons">
                    <button class="deletebutton delete-pokemon" id="deletebutton" type="button" data-pokemon-id="<%=pokemon.id %>">Delete
                    </button>
                    <a href="/pokemons/ <%= pokemon.id %>/edit" method='get'>
                      <button class="btn btn-danger btn-lg" id="updatebutton">Edit</button>
                    </a> 
                  </div>
               </div>
          </div>
       </div>
    <% end %>
</div>
